header {
    display: flex;
    justify-content: space-between;
}

.logo {
    padding: 20px;
}

nav {
    height: 59px;
}

.nav-links {
    display: inline-flex;
    justify-content: space-between;
}

nav ul li {
    padding: 20px 10px;
}

nav ul li{
    text-decoration: none;
    list-style: none;

}
